force-app/main/default/flows/bc_AlertaVencimientoPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>FL-002 — Alerta diário para Account Plans que vencem em 30 dias.</description>
    <interviewLabel>bc_AlertaVencimientoPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>bc_AlertaVencimientoPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Plans_Vencendo</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-01-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>

    <formulas>
        <name>f_AlertDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>

    <formulas>
        <name>f_NotifBody</name>
        <dataType>String</dataType>
        <expression>"El plan " &amp; {!var_CurrentPlan.Name} &amp; " vence el " &amp; TEXT({!var_CurrentPlan.EndDate})</expression>
    </formulas>

    <variables>
        <name>col_Plans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountPlan</objectType>
    </variables>

    <variables>
        <name>var_CurrentPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountPlan</objectType>
    </variables>

    <!-- Collection of recipient IDs for the custom notification -->
    <variables>
        <name>col_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <recordLookups>
        <name>Get_Plans_Vencendo</name>
        <label>Get Plans Vencendo em 30 dias</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_Plans</targetReference>
        </connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_AlertDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountPlan</object>
        <outputReference>col_Plans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>

    <loops>
        <name>Loop_Plans</name>
        <label>Loop Plans</label>
        <locationX>350</locationX>
        <locationY>50</locationY>
        <collectionReference>col_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RecipientId</targetReference>
        </nextValueConnector>
        <assignNextValueToReference>var_CurrentPlan</assignNextValueToReference>
    </loops>

    <!-- Assign OwnerId to the recipient collection -->
    <assignments>
        <name>Assign_RecipientId</name>
        <label>Assign Recipient ID</label>
        <locationX>450</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentPlan.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>

    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Plan Vencimento Notification</label>
        <locationX>600</locationX>
        <locationY>50</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Plans</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>bc_AlertaPlanVencimento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Plan próximo a vencer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>f_NotifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_CurrentPlan.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
</Flow>
